@import 'theme/colors.scss';
@import 'theme/spacing.scss';

.categories{
  display: flex;
}

.white{
  background-color: $white;
  transition: background-color 300ms ease-out;
}

.mainContainer{
  align-items: center;
  display: flex;
  background-color: $near-black;
  // flex-direction: column;
  transition: background-color 500ms ease-out;
  width: 100%;
  height: 100vh;
}
